# LTSpice
# From: https://github.com/toptal/gitignore/blob/master/templates/LTspice.gitignore

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

####

# Python virtual environment
# from https://github.com/github/gitignore/blob/main/Global/VirtualEnv.gitignore
.venv
