# KiCad
# https://github.com/github/gitignore/blob/main/KiCad.gitignore
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_pcb.lck
*.kicad_sch.lck
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*auto_saved_files*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
